{% extends 'movie_app/base.html' %}
{% load replace %}
{% block title %}{{ actor_inf.first_name.second_name }}{% endblock %}

{% block content %}
    {% if actor_inf.actor_gender == 'Мужской' %}
        <h1> Актёр </h1>
    {% else %}
        <h1> Актриса </h1>

    {% endif %}
    <h3>Имя - {{ actor_inf.first_name }}</h3>
    <h3>Фамилия - {{ actor_inf.second_name }}</h3>
    <h3>Пол - {{ actor_inf.actor_gender }}</h3>
    <hr>
        {% if actor_inf.actor_gender == "Женский" %}
    <h2>Фильмы, в которых сыграла {{ actor_inf.first_name}}:</h2>
        {% else %}
    <h2>Фильмы, в которых сыграл {{ actor_inf.first_name}}:</h2>
        {% endif %}
    <ul>
        {% for movies in actor_inf.movies.all%}

           <a href="{% url 'movie_description' movies.slug %}"><li>{{ movies}}</li> </a>

        {% endfor %}
    </ul>

{% endblock %}